.TextBreadscrumbs {
    color: #cccccc;
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
}


/*#root > div > nav{*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*    font-size: 30px;*/
/*    color: #ffffff;*/
/*    padding: 20px;*/

/*}*/
